{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block head %}{% endblock %}
{% block content %}
        <div style="height: 3em;"></div>
        <div class="contents slim">Convert your retweets into TWC.</div>
        <div style="height: 66px;"></div>
        <div class="ceiling footer">
            <div class="slim split">
                <a class="center forth widepads" href="/"><i class="clickable material-icons">home</i></a>
                <a class="center forth widepads" href="/tasks"><i class="clickable material-icons">comment</i></a>
                <a class="center forth widepads" href="/pairs"><i class="clickable material-icons">thumb_up</i></a>
                <a class="center forth widepads" href="/settings"><i class="clickable material-icons">settings</i></a>
            </div>
        </div>{% endblock %}