{% extends 'base.html' %}
{% block title %}Privacy policy{% endblock %}
{% block content %}
        <div style="height: 4em;"></div>
        <div class="pad slim" style="text-align: justify;">
            <h2 class="pads">Privacy policy</h2>
            <p class="pads">
                Your requests are seen by a limited number of people.
                This is a new concept in privacy which cannot be achieved by existing Q&amp;A services.
            </p>
            <h3 class="pads">Information we collect</h3>
            <p class="pads">
                We use Google's federated sign-in and access your account name and your email address.
                These personal data are never shown to other individuals.
                We collect your IP addresses when you make payments.
                Your card information never touches our databases.
                We just store the tokens of your card.
            </p>
            <h3 class="pads">Why we collect data</h3>
            <p class="pads">
                The purpose of collecting your data is to improve our services.
            </p>
        </div>
        <div style="height: 4em;"></div>
        <div style="height: 66px;"></div>
        <div class="ceiling footer">
            <div class="slim split">
                <a class="center forth widepads" href="/"><i class="clickable material-icons">home</i></a>
                <a class="center forth widepads" href="/tasks"><i class="clickable material-icons">comment</i></a>
                <a class="center forth widepads" href="/pairs"><i class="clickable material-icons">thumb_up</i></a>
                <a class="center forth widepads" href="/settings"><i class="clickable material-icons">settings</i></a>
            </div>
        </div>{% endblock %}