{% extends 'base.html' %}
{% block title %}Terms of service{% endblock %}
{% block content %}
        <div style="height: 4em;"></div>
        <div class="pad slim" style="text-align: justify;">
            <h2 class="pads">Terms of service</h2>
            <p class="pads">
                All tasks are confidential. Do not make other people's requests public.
                Do not send sensitive information like passwords.
                Never do illegal things like collecting sensitive information or sending malware.
                Use this service only from a web browser.
                Do not copy or reverse engineer our products.
            </p>
            <p class="pads">
                We don't guarantee that requests and files presented to workers are safe.
                It's your sole responsibility to protect yourself.
                We don't guarantee the quality of responses to your requests.
                Please do not demand a refund just because the responses are of low quality.
            </p>
        </div>
        <div style="height: 4em;"></div>
        <div style="height: 66px;"></div>
        <div class="ceiling footer">
            <div class="slim split">
                <a class="center forth widepads" href="/"><i class="clickable material-icons">home</i></a>
                <a class="center forth widepads" href="/tasks"><i class="clickable material-icons">comment</i></a>
                <a class="center forth widepads" href="/pairs"><i class="clickable material-icons">thumb_up</i></a>
                <a class="center forth widepads" href="/settings"><i class="clickable material-icons">settings</i></a>
            </div>
        </div>{% endblock %}